body {
  padding-top: 50px;
  color: #fff;
  background-color: #000000;
}
.container {
	padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.btn-default {
	margin: 4px;
	width: calc(11.5% - 4px);
    overflow: hidden;
    text-overflow: ellipsis;
}